
@media only screen and (min-width:992px){
    .sub4 {
    position:absolute;
    }
    
    
    .mexico {
        margin-left: 5%;
    }
    .Bannertext {
        position:absolute;
        top:25%;
        left:7.1%;
    
    }
    .paris {
        margin-left: 5%;
    }
    .Bannertext2 {
        position: absolute;
        top:33%;
        left:7.1%;
    }
    .sub2 {
        width:100% !important;
    }
    .sub25{
        width:96%;
        margin-left: 5%;
    }
    
    #Float-left {
        float:left;
    }
    .bannerimage {
        display:block;
        width:100%;
        height:auto;
    }
    .second-col {
        margin-left:5% !important;
    }
    .second-row {
        margin-top:2% !important;
    }
    .row {
        width:100%;
    height:30%;
    }
    
    
    
    .image1, .image2 {
        
        position: absolute;
    
    
    
    }
    .image1 {
        left:6%;
    }
    .image2 {
        left:34%;
    }
    
    }
    
    
    
    
    .menu {
        font-size:0.4em;
    }
    
    .col-md-1 {
        margin:0 3% 0;
    }
    
    #FirstImageDiv, #SecondImageDiv, #ThirdImageDiv {
        margin-right: 15%;
        
    }
    #FirstImageDiv {
        margin-left:15%;
        
    }
    
    
    #foot1 {
        display:inline;
    }
    @media only screen and (min-width:768px) and (max-width:992px) {
        #Menubar {
            background-color: #556270
        }
        .bannerimage {
            display: none !important;
    
        }
        img {
            margin-right: 5%;
            position: static;
            width: 43.2vw;
        }

.tokyo {
    position: absolute;
    left: 18vw;
}

.paris {
    position: absolute;
    left: 3.9vw;
}

.mexico {
    position: absolute;
    left: 4vw;
}

.ny {
    position: absolute;
    left: 18vw;
}
        .row {
            width: 100vw;
            height: 27.4vw;
        }
        .invite {
            position: absolute;
            top: 40.6vw;
            width: 43.6vw;
            /* height:62vw; */
            left: 2vw;
        }
        .col-sm-5 {
            position: absolute;
        }
        .sub41 {
            top:127vw ;
        }
        .sub42 {
            top:144vw ;
        }
        .sub43 {
            top:160vw ;
        }
        .sub41, .sub42, .sub43 {
            max-width:100%;
        }
    
    }
    
    @media only screen and (max-width:767px) {
        
        .mexico, .paris {
            margin: 0px;
        }
        .invite {
            margin-top: 3%;
        }
        .ny {
            margin-bottom:0px;
        }
        .sub2 {
            max-width:95%;
            max-height:95%;
            margin-bottom:4%;
            
        }
        .sub25 {
            position: absolute;
            top:12.6em;
            max-width:86.4%;
        }
        .image5 {
            position: initial;
        }
        
        * {
            margin:none !important;
        }
        body {
            width:90.2%;
        }
        .image1, .image2 {
           display:block;
        }
        .bannerimage {
            display: none !important;
    
        }
        .sub21 {
            margin-left: 0px !important;
        }
        
        #foot1 {
            display:block;
        }
        
    
        li {
            font-size:0.55em !important;
            top:4% !important;
            
            margin-left:5%;
            
    
            
        }
        #Float-left {
            margin-right:5%;
        }
        #Float-right {
            margin-left: 5%;
        }
        .sub41 {
            top:45% ;
    
        }
        .sub42 {
            top:50% ;
        }
        .sub43 {
            top:56% ;
        }
        .Bannertext, .imagelisttext {
            position:static;
            font-weight: 900;
            color:black;
            font-family:Arial, Helvetica, sans-serif;
            height:120px;
            font-size:150%;
        
    
        }
        .Bannertext2 {
            position: static;
            color:black;
            font-family:Arial, Helvetica, sans-serif;
            height: 120px;
            font-size:95%;
        }
        .paris {
            margin-top: -3%;
        }
        
    }
    